virtual_environment_endpoint     = "https://10.0.0.100:8006/"
virtual_environment_token        = "terraform@pam!terraform=your-secret-here-yeah"
virtual_environment_ssh_username = "root"
proxmox_ssh_key_path             = "~/.ssh/terraform_proxmox"
