# Proxmox
proxmox_endpoint  = "https://10.0.0.100:8006"
proxmox_api_token = "TOKEN"
proxmox_insecure  = true
proxmox_password  = "password"

# vm
ssh_public_keys = [
  "ssh-ed25519 AAAAC3NzaC... user1@laptop",
  "ssh-rsa AAAAB3NzaC1yc2E... user2@desktop",
]
